{% extends "orders/layouts/default.html" %}

{% block title %} Order {% endblock %}

{% block body %}
<div class="container">
  <a href="{% url 'logout' %}">Logout</a>
  <div class="menu">
  {% for category in categories %}
    <h2>{{ category }}</h2>
    <ul>
    {% if category.customizeable == True %}
      <li class="menu-cutomizeable-order" data-category-id="{{ category.id }}">
        {% if "Pizza" in category.name %}
          <a href="{% url 'customize_pizza' %}">
            Customize Order
          </a>
        {% else %}
          <a href="{% url 'customize_sub' %}">
            Customize Order
          </a>
        {% endif %}
      </li>
    {% else %}
      {% for item in items %}
        {% if item.category == category %}
          <li class="menu-item" data-item_id="{{ item.id }}">
            {{ item }} -
            {{ item.size }} -
            ${{ item.price }}
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}
    </ul>
  {% endfor %}
  </div>
  
  {% include "orders/includes/message.html" %}
  {% include "orders/includes/shopping-cart-navbar.html" %}
</div>

{% include "orders/includes/current_user_id.html" %}

{% endblock %}