{% extends "orders/layouts/default.html" %}

{% block title %} Orders {% endblock %}

{% block body %}

{% with action=True %}

<div class="container">
  <div id="shopping-cart-container">
    <div class="shopping-cart">
      {% include "orders/includes/item_tables.html" %}
    </div>
  </div>
  
  {% include "orders/includes/message.html" %}
  {% include "orders/includes/shopping-cart-navbar.html" %}
  <div class="order-button-container">
    <a href="{% url 'order' %}"><button id="order-button">Order</button></a>
  </div>
</div>

  {% include "orders/includes/current_user_id.html" %}

{% endwith %}

{% endblock %}